h1{
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 20%;
    margin: auto;
    padding: 1%;
    background-color: rgb(207, 206, 183);
}

h2{
    font-size: 1rem;
    color: #f76c6c;
}

.vital{
    color: red;
}

.movie{
    color: white;
    text-shadow: 1px 1px 10px black;
    font-size: 1.3rem;
    transition: all 0.5s;
}

.mList{
    margin: auto;
    text-align: center;
}